In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data = pd.read_excel('googleplaystore.xlsx')

In [4]:
df = pd.DataFrame(data)

### Data Cleaning

### first five rows of dataset

In [5]:
pd.set_option('max_columns', None)
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0.0,Everyone,Art & Design,2018-01-07,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0.0,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up
2,"U Launcher Lite â€“ FREE Live Cool Themes, Hid...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0.0,Everyone,Art & Design,2018-08-01,1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0.0,Teen,Art & Design,2018-06-08,Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0.0,Everyone,Art & Design;Creativity,2018-06-20,1.1,4.4 and up

### To get information of data i.e. total number of rows,total number of columns, datatypes of each columns and memory requirement

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
App               10840 non-null object
Category          10840 non-null object
Rating            9367 non-null float64
Reviews           10841 non-null int64
Size              10841 non-null object
Installs          10841 non-null object
Type              10840 non-null object
Price             10841 non-null float64
Content Rating    10841 non-null object
Genres            10840 non-null object
Last Updated      10841 non-null datetime64[ns]
Current Ver       10833 non-null object
Android Ver       10839 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(9)
memory usage: 1.1+ MB

### number of rows and number of columns

In [7]:
df.shape

(10841, 13)

In [8]:
print("Number of Rows", df.shape[0])
print("Number of Columns", df.shape[1])

Number of Rows 10841
Number of Columns 13

### Checking for missing values in data

In [9]:
df.isnull().sum()

App                  1
Category             1
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       0
Genres               1
Last Updated         0
Current Ver          8
Android Ver          2
dtype: int64

In [10]:
df[['App','Category']].fillna(value = 'Not available')
#here we filled missing value with not available

                                                     App             Category
0         Photo Editor & Candy Camera & Grid & ScrapBook       ART_AND_DESIGN
1                                    Coloring book moana       ART_AND_DESIGN
2      U Launcher Lite â€“ FREE Live Cool Themes, Hid...       ART_AND_DESIGN
3                                  Sketch - Draw & Paint       ART_AND_DESIGN
4                  Pixel Draw - Number Art Coloring Book       ART_AND_DESIGN
...                                                  ...                  ...
10836                                   Sya9a Maroc - FR               FAMILY
10837                   Fr. Mike Schmitz Audio Teachings               FAMILY
10838                             Parkinson Exercices FR              MEDICAL
10839                      The SCP Foundation DB fr nn5n  BOOKS_AND_REFERENCE
10840      iHoroscope - 2018 Daily Horoscope & Astrology            LIFESTYLE

[10841 rows x 2 columns]

In [11]:
df['Rating'].fillna(df['Rating'].mean(), inplace=True)

In [12]:
df.isnull().sum()

App               1
Category          1
Rating            0
Reviews           0
Size              0
Installs          0
Type              1
Price             0
Content Rating    0
Genres            1
Last Updated      0
Current Ver       8
Android Ver       2
dtype: int64

### Overall statistics about data

In [13]:
df.describe(include = 'all')

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
count,10840,10840,10841.000000,1.084100e+04,10841,10841,10840,10841.000000,10841,10840,10841,10833,10839
unique,9659,33,NaN,NaN,461,21,2,NaN,6,119,1377,2783,33
top,ROBLOX,FAMILY,NaN,NaN,Varies with device,"1,000,000+",Free,NaN,Everyone,Tools,2018-08-03 00:00:00,Varies with device,4.1 and up
freq,9,1972,NaN,NaN,1695,1579,10040,NaN,8715,842,326,1459,2451
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-05-21 00:00:00,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-08-08 00:00:00,NaN,NaN
mean,NaN,NaN,4.191513,4.441119e+05,NaN,NaN,NaN,1.027273,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,0.479390,2.927629e+06,NaN,NaN,NaN,15.948971,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,1.000000,0.000000e+00,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,4.100000,3.800000e+01,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,4.200000,2.094000e+03,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,4.500000,5.476800e+04,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,5.000000,7.815831e+07,NaN,NaN,NaN,400.000000,NaN,NaN,NaN,NaN,NaN

### Total number of App Tiles contain Book

In [14]:
df['App'].str.contains('Book', case=False).value_counts()

False    10671
True       169
Name: App, dtype: int64

### Average app ratings

In [15]:
df['Rating'].mean()

4.191512757553228

### Total number of unique categories

In [16]:
data['Category'].nunique()

33

### Applications with highest ratings

In [17]:
df.groupby('App')[['Rating']].mean().sort_values('Rating', ascending=False).head()

                     Rating
App
Dr Bk Sachin bhai       5.0
Tic Tac CK              5.0
EP Church Annapolis     5.0
Pyaar Ek Dhoka          5.0
EP Radio                5.0

Top 5 apps are AJ Rafael Music Lessons, APÂ® Guide, Cloud DX Connected Health, EB Scanner, CJ Gospel Hour
Lets see which category have average number of Ratings and which App have higher number of review

In [18]:
df.groupby('Category')[['Rating']].mean().sort_values('Rating', ascending=False).head()

                       Rating
Category
EDUCATION            4.387766
EVENTS               4.363105
ART_AND_DESIGN       4.350378
BOOKS_AND_REFERENCE  4.310607
PERSONALIZATION      4.307240

In [19]:
df[df['Reviews'].max() == df['Reviews']]['App']

2544    Facebook
Name: App, dtype: object

With these findings it is clear that ART_AND_DESIGN got highest ratings and Facebook app got large number of reviews

Lets see how many apps got 5 star rating

In [20]:
len(df[df['Rating']==5.0])

274

Average value of Reviews

In [21]:
data['Reviews']=data['Reviews'].astype('float')

In [22]:
data['Reviews'].dtype

dtype('float64')

In [23]:
data['Reviews'].mean()

444111.9280509178

### Total number of free and paid Apps

In [24]:
df['Type'].value_counts()

Free    10040
Paid      800
Name: Type, dtype: int64

### Apps having highest reviews (top 5)

In [25]:
df.groupby('App')[['Reviews']].max().sort_values('Reviews', ascending=False).head()

                                               Reviews
App
Facebook                                    78158306.0
WhatsApp Messenger                          69119316.0
Instagram                                   66577446.0
Messenger â€“ Text and Video Chat for Free  56646578.0
Clash of Clans                              44893888.0

### Average ratings of free and paid apps

In [26]:
df.groupby('Type')['Rating'].mean()

Type
Free    4.186673
Paid    4.252252
Name: Rating, dtype: float64

### Top 10 apps having maximum installs

In [27]:
df['Installs_new'] = df['Installs'].str.replace(',','')

In [28]:
df['Installs_new'] = df['Installs_new'].str.replace('+','')
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Installs_new
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,19M,"10,000+",Free,0.0,Everyone,Art & Design,2018-01-07,1.0.0,4.0.3 and up,10000
1,Coloring book moana,ART_AND_DESIGN,3.9,967.0,14M,"500,000+",Free,0.0,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up,500000
2,"U Launcher Lite â€“ FREE Live Cool Themes, Hid...",ART_AND_DESIGN,4.7,87510.0,8.7M,"5,000,000+",Free,0.0,Everyone,Art & Design,2018-08-01,1.2.4,4.0.3 and up,5000000
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644.0,25M,"50,000,000+",Free,0.0,Teen,Art & Design,2018-06-08,Varies with device,4.2 and up,50000000
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967.0,2.8M,"100,000+",Free,0.0,Everyone,Art & Design;Creativity,2018-06-20,1.1,4.4 and up,100000

In [29]:
df['Installs_new']=df['Installs_new'].astype('float')

In [30]:
a= df['Installs_new'].sort_values(ascending=False).head(10).index

In [31]:
df.iloc[a]['App']

1750                                Subway Surfers
2554                                       Google+
382     Messenger â€“ Text and Video Chat for Free
381                             WhatsApp Messenger
4144                                       Google+
3816                                   Google News
4234                 Skype - free IM & video calls
2884                                 Google Photos
3232                            Google Street View
3765                                   Google News
Name: App, dtype: object